{% extends 'base.html' %}

{% block title %}
    Home Page
{% endblock %}

{% block content %}
    <div class="text-center bg-green-600 py-2 text-3xl">
        <h1>User Management System</h1>
    </div>
    <div class="p-5 w-fit mx-auto">
        <a class="text-blue-700 bg-gray-200 border rounded-sm my-2 px-5" href="{% url 'user_add' %}">Add User</a>
        <table class="mx-auto border border-2">
            <tr class="text-white bg-gray-800">
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            {% for user in users %}
            <tr class="border border-gray-400">
                <td class="bg-gray-200 px-5">{{ user.id }}</td>
                <td class="bg-gray-200 px-5">{{ user.name }}</td>
                <td class="bg-gray-200 px-5">{{ user.email }}</td>
                <td class="bg-gray-200 px-5">{{ user.gender }}</td>
                <td class="bg-gray-200 px-5">{{ user.status }}</td>
                <td class="bg-gray-200 px-5 text-blue-500"><a href="{% url 'user_edit' user.id %}">Edit</a> <a href="{% url 'user_delete' user.id %}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}